@font-face {
    font-family: 'Integral CF';
    src: url(../fonts/IntegralCF/Fontspring-DEMO-integralcf-bold.otf#IntegralCF)format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Satoshi';
    src: url(../fonts/Satoshi/Satoshi-Black.woff2) format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Satoshi Light';
    src: url(../fonts/Satoshi/Satoshi-Light.woff2) format('woff2');
    font-weight: normal;
    font-style: normal;
}